---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
{% include education.html %}
{% endunless %}

{% include experiences_oss.html %}

{% include experiences_recent.html %}

{% include experiences.html %}

{% include experiences_internships.html %}

{% include experiences_pedagogical.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include publications.html %}

{% include skills.html %}