<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a class="nounderline">{{ sidebar.citizenship }}</a>
    </li>
    {% endif %}

    {% if sidebar.driving_license %}
    <li class="phone"><i class="fa fa-id-card"></i>
      <a class="nounderline">driving lic. {{ sidebar.driving_license }}</a>
    </li>
    {% endif %}

    {% if sidebar.diving_certification %}
    <li><i class="fa fa-id-card"></i>
      <a class="nounderline">diving lic. {{ sidebar.diving_certification }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <a class="nounderline">{{ sidebar.timezone }}</a>
    </li>
    {% endif %}

    {% if sidebar.google_scholar %}
    <li class="google_scholar"><i class="ai ai-google-scholar"></i>
      <a href="https://scholar.google.com/citations?user={{ sidebar.google_scholar }}" target="_blank">Google scholar {{
        sidebar.google_scholar }}</a>
    </li>
    {% endif %}

    {% if sidebar.orcid %}
    <li class="orcid"><i class="ai ai-orcid"></i>
      <a href="https://orcid.org/{{ sidebar.orcid }}" target="_blank">Orcid {{ sidebar.orcid }}</a>
    </li>
    {% endif %}

    {% if sidebar.scopus %}
    <li class="scopus"><i class="ai ai-scopus"></i>
      <a href="https://www.scopus.com/authid/detail.uri?authorId={{ sidebar.scopus }}" target="_blank">Scopus {{
        sidebar.scopus
        }}</a>
    </li>
    {% endif %}

    {% if sidebar.web_of_science %}
    <li class="web_of_science"><i class="ai ai-clarivate"></i>
      <a href="https://www.webofscience.com/wos/author/rid/{{ sidebar.web_of_science }}" target="_blank">WoS {{
        sidebar.web_of_science }}</a>
    </li>
    {% endif %}

    {% if sidebar.telegram %}
    <li class="telegram"><i class="fab fa-telegram"></i>
      <a href="https://t.me/{{ sidebar.telegram }}" target="_blank">{{ sidebar.telegram }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.xing %}
    <li class="xing"><i class="fab fa-xing"></i>
      <a href="https://www.xing.com/profile/{{ sidebar.xing }}" target="_blank">{{ sidebar.xing }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}

    {% if sidebar.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">{{ sidebar.gitlab }}</a>
    </li>
    {% endif %}

    {% if sidebar.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">{{ sidebar.bitbucket }}</a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">{{ sidebar.stack-overflow
        }}</a>
    </li>
    {% endif %}

    {% if sidebar.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">{{
        sidebar.codewars }}</a>
    </li>
    {% endif %}

    {% if sidebar.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ sidebar.goodreads }}" target="_blank">{{ sidebar.goodreads }}</a>
    </li>
    {% endif %}

    {% if sidebar.pdf_short %}
    <li class="pdf_short"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf_short }}" target="_blank">CV - short</a>
    </li>
    {% endif %}

    {% if sidebar.pdf_full %}
    <li class="pdf_full"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf_full }}" target="_blank">CV - full</a>
    </li>
    {% endif %}

    {% if sidebar.pdf_full %}
    <li class="pdf_otta"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf_otta }}" target="_blank">CV - Otta</a>
    </li>
    {% endif %}
  </ul>
</div><!--//contact-container-->